<div class="header">
  <h1>Schulz und Wunderbaum</h1>
</div>
<br>
<nav>
  <a class="btn btn-dark btn-big" routerLink="/subtracting">Subtracting</a> |
  <a class="btn btn-dark btn-big" routerLink="/fourinarow">Four in a Row</a> |
  <a class="btn btn-dark btn-big" routerLink="/typespeed">Speed Test</a> |
  <a class="btn btn-dark btn-big" routerLink="/test">Test</a> |
  <a class="btn btn-dark btn-big" routerLink="/drugwars">DrugWars</a> |
  <a class="btn btn-dark btn-big" routerLink="/calculations">Calculationie</a>
</nav>
<br>

<router-outlet></router-outlet>