.text {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    width: 60vw;
    margin: 20px;
}

.prompt {
    font-style: italic;
    background-color: aliceblue;
}

.equal {
    background-color: rgb(175, 218, 174);
}

.notequal {
    background-color: rgb(218, 174, 174);
}