.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  border: 1px solid red;
  justify-content: space-around;
}

.left-container {
  flex-direction: column;
  border: 1px solid blue;
  flex: 1;
}

.middle-container {
  flex-direction: column;
  border: 1px solid black;
  flex: 1;
}

.right-container {
  flex-direction: column;
  border: 1px solid green;
  flex: 1;
}

.inside-container {
  border: 1px solid blueviolet;
}
