<h1>Drugwars</h1>
<button mat-raised-button (click)="openStartGameDialog()">start game</button>
<div class="container">
    <div class="left-container">
        <div class="inside-container">Picture</div>
    </div>
    <div class="middle-container">
        <div class="inside-container">Playerinfo</div>
    </div>
    <div class="right-container">
        <div class="inside-container">Playerinfo</div>
    </div>
</div>
<div class="container">
    <div class="left-container">
        <div class="inside-container">Console/info</div>
    </div>
    <div class="right-container">
        <div class="inside-container">Citys</div>
    </div>
</div>
<div class="container">
    <div class="left-container">
        <div class="inside-container">Inventory</div>
    </div>
    <div class="right-container">
        <div class="inside-container">Market</div>
    </div>
</div>

<br><br>
<hr>
<h3>Mockup</h3>
<img src="../../../../assets/drugwars/images/drugwarsmockup.png" alt="mockup" />
<!-- <p>drugwars works!</p>
<button mat-raised-button (click)="openStartGameDialog()">start game</button>
<div class="container">
    <div class="Player">
        Player placeholder
        <mat-card>
            <b>player: </b>
            <p>{{ playerName }}</p>
        </mat-card>

    </div>
    <div class="Inventory">
        Inventory placeholder
        {{ items | json }}
        {{ armors | json }}
        {{ weapons | json }}
    </div>
    <div class="Infobox">
        Infobox placeholder
    </div>
    <div class="Location">
        Location placeholder
        {{ locations | json }}
    </div>
    <div class="Stash">
        Stash placeholder
        {{ drugs | json }}
    </div>
    <div class="Shop">
        Shop placeholder
        {{ drugs | json }}
    </div>
</div> -->